<div class="row">
  <div class="twelve columns unicorn">
    <h2>500 error <small>Something went very wrong.</small></h2>
    <p><img src="/img/unicorn.png" title="unicorn"/></p>
    <p><a href="/">Go home.</a></p>
  </div>
</div>
