<form id="hurl-form" method="post" action="/" class="custom">
  <div class="row collapse">
    <div class="two hide-for-small columns">
      <span class="prefix">URL:</span>
    </div>
    <div class="ten mobile-four columns">
      <input type="text" name="url" title="URL" value="{{ hurl_url }}" placeholder="http://github.com" />
    </div>
  </div>

  <div class="row collapse">
    <div class="three mobile-two columns select_method">
      <select id="select-method" name="method">
        <option value="GET" {{# method_is_GET? }}selected="selected"{{/ method_is_GET? }}>GET</option>
        <option value="HEAD" {{# method_is_HEAD? }}selected="selected"{{/ method_is_HEAD? }}>HEAD</option>
        <option value="POST" {{# method_is_POST? }}selected="selected"{{/ method_is_POST? }}>POST</option>
        <option value="PUT" {{# method_is_PUT? }}selected="selected"{{/ method_is_PUT? }}>PUT</option>
        <option value="DELETE" {{# method_is_DELETE? }}selected="selected"{{/ method_is_DELETE? }}>DELETE</option>
        <option value="PATCH" {{# method_is_PATCH? }}selected="selected"{{/ method_is_PATCH? }}>PATCH</option>
      </select>
    </div>
    <div class="three mobile-two columns end">
      <label for="follow_redirects">
        <input type="checkbox" id="follow_redirects" name="follow_redirects" {{# follows_redirects? }}checked="checked"{{/ follows_redirects? }} /> follow redirects
      </label>
    </div>
  </div>

  <div class="row collapse" id="post-params" style="display: none;">
    <p>
      <a id="add-param" href="#"><span class="link-icon">+</span> add param</a>
      <a id="set-post-body" href="#"><span class="link-icon">+</span> set post body</a>
    </p>
      {{# hurl_param_keys }}
        <div class="row collapse" id="param-fields">
          <div class="one hide-for-small columns">
            <span class="prefix">key</span>
          </div>
          <div class="four mobile-one columns">
            <input type="text" name="param-keys[]" value="{{ name }}" placeholder="key"/>
          </div>
          <div class="one hide-for-small columns">
            <span class="prefix">value</span>
          </div>
          <div class="four mobile-two columns">
            <input type="text" name="param-vals[]" value="{{ value }}" placeholder="value"/>
          </div>
          <div class="one mobile-one columns end">
            <a href="#" class="param-delete"><img class="delete" src="/img/delete.png" title="remove"/></a>
          </div>
        </div>
      {{/ hurl_param_keys }}

      {{# no_hurl_param_keys }}
        <div class="row collapse" id="param-fields" style="display:none;">
          <div class="one hide-for-small columns">
            <span class="prefix">key</span>
          </div>
          <div class="four mobile-one columns">
            <input type="text" name="param-keys[]" placeholder="key"/>
          </div>
          <div class="one hide-for-small columns">
            <span class="prefix">value</span>
          </div>
          <div class="four mobile-two columns">
            <input type="text" name="param-vals[]" placeholder="value"/>
          </div>
          <div class="one mobile-one columns end">
            <a href="#" class="param-delete"><img class="delete" src="/img/delete.png" title="remove"/></a>
          </div>
        </div>
      {{/ no_hurl_param_keys }}

      <p id="post-body" {{^ hurl_post_body}}style="display:none;"{{/ hurl_post_body}}>
        <textarea rows="15" name="post-body">{{ hurl_post_body }}</textarea>
      </p>
  </div>

  <div class="row collapse" id="auth-selection">
    <div class="twelve columns">
      <p>
        <label for="auth-none">
          <input type="radio" id="auth-none" name="auth" value="none" checked="checked"/>
          no auth
        </label>
        <label for="auth-basic">
          <input type="radio" id="auth-basic" name="auth" value="basic"
            {{# hurl_basic_auth? }}
              checked="checked"
            {{/ hurl_basic_auth? }}
          />
          HTTP basic
        </label>
      </p>
    </div>
  </div>

  <div class="row collapse" id="basic-auth-fields" style="display:none;">
    <div class="two mobile-one columns">
      <span class="prefix">username</span>
    </div>
    <div class="four mobile-three columns">
      <input type="text" name="username" title="username" value="{{ hurl_username }}"/>
    </div>
    <div class="two mobile-one columns">
      <span class="prefix">password</span>
    </div>
    <div class="four mobile-three columns">
      <input type="text" name="password" title="password" value="{{ hurl_password }}"/>
    </div>
  </div>

  <div class="row collapse" id="header-selection">
    <p><a id="add-header" href="#"><span class="link-icon">+</span> add header</a></p>
  </div>

  {{# hurl_header_keys }}
    <div class="row collapse" id="header-fields">
      <div class="one hide-for-small columns">
        <span class="prefix">key</span>
      </div>
      <div class="four mobile-one columns">
        <input type="text" class="form-alpha" name="header-keys[]" value="{{ name }}" placeholder="key"/>
      </div>
      <div class="one hide-for-small columns">
        <span class="prefix">value</span>
      </div>
      <div class="five mobile-two columns">
        <input type="text" name="header-vals[]" value="{{ value }}" placeholder="value"/>
      </div>
      <div class="one mobile-one columns end">
        <a href="#" class="header-delete"><img class="delete" src="/img/delete.png" title="remove"/></a>
      </div>
    </div>
  {{/ hurl_header_keys }}

  {{# no_hurl_header_keys }}
    <div class="row collapse" id="header-fields" style="display:none;">
      <div class="one hide-for-small columns">
        <span class="prefix">key</span>
      </div>
      <div class="four mobile-one columns">
        <input type="text" class="header-key" name="header-keys[]" placeholder="key"/>
      </div>
      <div class="one hide-for-small columns">
        <span class="prefix">value</span>
      </div>
      <div class="five mobile-two columns">
        <input type="text" class="header-val" name="header-vals[]" placeholder="value"/>
      </div>
      <div class="one mobile-one columns end">
        <a href="#" class="header-delete"><img class="delete" src="/img/delete.png" title="remove"/></a>
      </div>
    </div>
  {{/ no_hurl_header_keys }}

  <div class="row">
    <div class="four columns" id="send-wrap">
      <button type="submit" class="button medium radius">Send</button>
      <img src="/img/ajax-loader.gif" id="spinner" />
    </div>
  </div>
</form>

<div class="row help-blurb">
  <div class="six columns" {{# help_blurb_hidden? }}style="display: none;"{{/ help_blurb_hidden? }}>
    <div class="panel radius help">
      <h5>Hurl makes HTTP requests.</h5>
      <p>Enter a URL, set some headers, view the response, then share it with others.</p>
      <p>Perfect for demoing and debugging APIs.</p>
    </div>
  </div>

  <div class="six columns hide-for-small" {{# try_it_hidden? }}style="display: none !important;"{{/ try_it_hidden? }}>
    <div class="panel radius">
      <h5>Try it out:</h5>
      <ul class="examples">
        {{# default_hurls }}
          <li class="{{ class }}"><a href="/hurls/{{ sha }}">{{ name }}</a></li>
        {{/ default_hurls }}
      </ul>
    </div>
  </div>
</div>

<div class="row" id="request-and-response" {{# hide_request_and_response? }}style="display:none;"{{/ hide_request_and_response? }}>
  <div class="twelve column">
    <dl class="tabs">
      <dd><a href="#request">request</a></dd>
      <dd class="active"><a href="#response">response</a></dd>
      <dd style="float: right"><a href="{{ hurl_permalink }}" class="permalink hide-for-small">permalink</a></dd>
      <dd style="float: right"><a href="{{ view_permalink }}" class="full-size-link hide-for-small" target="_blank">view full size</a></dd>
    </dl>

    <ul class="tabs-content">
      <li class="code-wrap" id="requestTab">
        <div class="code-text">{{{ view_request }}}</div>
      </li>
      <li class="active code-wrap" id="responseTab">
        <div class="code-text">
          {{# view }}
            <pre>{{{ header }}}</pre>{{{ body }}}
          {{/ view }}
        </div>
      </li>
    </ul>
  </div>
</div>
