<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ website }} - Test HTTP API requests - Twilio Labs</title>
  <meta content="Hurl makes HTTP requests and is the perfect tool for testing APIs." name="description" />

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/stylesheets/ie.css">
  <![endif]-->

  <script src="/javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <div class="row">
    <div class="nine columns centered">
      <h2><a href="/"><img src="/img/logo.png" title="hurl" /></a></h2>
    </div>
  </div>

  <div class="row">
    <div class="ten columns centered">
      <hr class="hr-blue" />
    </div>
  </div>

  <div class="row">
    <div class="nine columns centered">
      <div class="alert-box alert flash-error" style="display: none;">
        <span id="flash-error-msg"></span>
        <a href="" class="close">&times;</a>
      </div>

      <div class="alert-box flash-notice" {{# no_flash }}style="display: none;"{{/ no_flash }}>
        <span id="flash-notice-msg">{{ flash }}</span>
        <a href="" class="close">&times;</a>
      </div>

      {{{ yield }}}
    </div>
  </div>

  <div class="row">
    <div class="ten columns centered">
      <hr class="hr-blue footer" />
    </div>
  </div>

  <footer class="row">
    <div class="ten columns centered">
      <div class="row">
        <section class="six columns">
          <h6><strong>Made by Twilio</strong></h6>
          <p>Hurl is initially made by <a href="http://www.twilio.com">Twilio</a> Labs. I revisited the layout using <a href="http://foundation.zurb.com/">Foundation</a> 3 and made few fixes. <a href="https://github.com/j0k3r/hurl">See it on GitHub →</a></p>
        </section>

        <section class="six columns">
          <h6><strong>About Hurl</strong></h6>
          <p>Hurl was created by Chris Wanstrath and Leah Culver for the 2009 Rails Rumble. <a href="/about/">About →</a></p>
        </section>
      </div>
    </div>
  </footer>

  <!-- Included JS Files -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/jquery.customforms.js"></script>
  <script src="/javascripts/jquery.autocomplete.js"></script>
  <script src="/javascripts/jquery.form.js"></script>
  <script src="/javascripts/jquery.placeholder.min.js"></script>
  <script src="/javascripts/jquery.tooltips.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/hurl.headers.js"></script>
  <script src="/javascripts/hurl.js"></script>

{{# ga_code }}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ ga_code }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{{/ ga_code }}

</body>
</html>
