<div class="row">
  <div class="twelve columns">
    <h2>Stats</h2>
    <table>
      {{# hurl_stats}}
       <tr>
          <td>{{ stat }}</td>
          <td>{{ value }}</td>
        </tr>
      {{/ hurl_stats}}
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2>Disk</h2>
    <table>
      {{# disk_stats}}
       <tr>
          <td>{{ stat }}</td>
          <td>{{ value }}</td>
        </tr>
      {{/ disk_stats}}
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <p>
      <span class="radius label">Deployed SHA</span>
      <a href='https://github.com/j0k3r/hurl/commit/{{ deployed_sha }}'>{{ deployed_sha }}</a>
    </p>
  </div>
</div>
